<h1>Reviews for <%= @movie.title %></h1>

<ol id="reviews">
	<% @reviews.each do |r| %>
    <li>
      <span class="review"><%= pluralize(r.stars, 'star') %></span>
      <span class="user">by <%= r.name %></span>
      <span class="date"><%= relative_review_time(r) %></span>
      <p>
        &quot;<%= r.comment %>&quot;
      </p>
      <p>
        <%= link_to("Edit", edit_movie_review_path(@movie, r)) %>
      </p>
    </li>
	<% end %>
</ol>

<p><%= link_to "<< Back to movie details", movie_path(@movie) %></p>